{% extends 'base.html' %}
{% block titulo %} Movimientos {% endblock %}
{% block content %}
<table class="table is-fullwidth">
   <thead class="table-body-background-color:transparent"  >
      <tr>
        <th><abbr title="Fecha">Fecha</abbr></th>
        <th><abbr title="Hora">Hora</abbr></th>
        <th><abbr title="From">From</abbr></th>
        <th><abbr title="Q">Q</abbr></th>
        <th><abbr title="to">to</abbr></th>
        <th><abbr title="Q">Q</abbr></th>
        <th><abbr title="Precio Unitario">Precio Unitario</abbr></th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tfoot>
        <tr>
            <th><abbr title="Fecha">Fecha</abbr></th>
            <th><abbr title="Hora">Hora</abbr></th>
            <th><abbr title="From">From</abbr></th>
            <th><abbr title="Q">Q</abbr></th>
            <th><abbr title="to">to</abbr></th>
            <th><abbr title="Q">Q</abbr></th>
            <th><abbr title="Precio Unitario">Precio Unitario</abbr></th>
            <th>Observaciones</th>
          </tr>
    </tfoot>
    <tbody>
      <tr>
        <th>00/00/00</th>
        <td>00:00</td>
        <td>EUR</td>
        <td>XXX.XX</td>
        <td>ADA</td>
        <td>XXXXX.XX</td>
        <td>$$$$.$$</td>
        <td>???????</td>
      </tr>
      <tr>
        <th>00/00/00</th>
        <td>00:00</td>
        <td>EUR</td>
        <td>XXX.XX</td>
        <td>ADA</td>
        <td>XXXXX.XX</td>
        <td>$$$$.$$</td>
        <td>???????</td>
      </tr>
      <tr>
        <th>00/00/00</th>
        <td>00:00</td>
        <td>EUR</td>
        <td>XXX.XX</td>
        <td>ADA</td>
        <td>XXXXX.XX</td>
        <td>$$$$.$$</td>
        <td>???????</td>
      </tr>

    </tbody>
  </table>


{% endblock %}